Package: pop-launcher-plugin-spell
Version: 0.2
Architecture: all
Section: misc
Essential: no
Priority: optional
Depends: pop-launcher, xclip
Maintainer: Faris Redza <faris.redza1999@gmail.com>
Description: A spell checking plugin for pop-launcher using aspell as a backend
