Source: pop-launcher-plugin-spell
Section: misc
Priority: optional
Maintainer: Faris Redza <faris.redza1999@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/FarisRedza/pop-launcher-plugin-spell
Vcs-Browser: https://github.com/FarisRedza/pop-launcher-plugin-spell
Vcs-Git: https://github.com/FarisRedza/pop-launcher-plugin-spell.git
Rules-Requires-Root: no

Package: pop-launcher-plugin-spell
Architecture: all
Depends: xclip, ${shlibs:Depends}, ${misc:Depends}
Description: A spell checking plugin for pop-launcher using aspell as a backend